name: Tests
on:
  pull_request:
    paths-ignore:
      - "README.md"
  push:
    branches:
      - main
    paths-ignore:
      - "README.md"
  # TODO - periodically run on a cron to detect API drift.
  # schedule:
  #   - cron: '0 13 * * *'
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    timeout-minutes: 5
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"
        id: go
      - name: Install Task
        uses: arduino/setup-task@v1
        with:
          version: "3.x"
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get dependencies
        run: go mod download
      - name: Build
        run: task build
      - name: Format
        run: task lint

  test:
    name: Matrix Test
    needs: build
    runs-on: ubuntu-latest
    timeout-minutes: 15
    strategy:
      fail-fast: false
      matrix:
        terraform:
          - "1.1.*"
    steps:
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17"
        id: go
      - uses: hashicorp/setup-terraform@v1
        with:
          terraform_version: ${{ matrix.terraform }}
          terraform_wrapper: false
      - name: Check out code into the Go module directory
        uses: actions/checkout@v2
      - name: Get dependencies
        run: go mod download
      - name: TF acceptance tests
        timeout-minutes: 10
        env:
          TF_ACC: "true"
          VERCEL_API_TOKEN: ${{ secrets.VERCEL_API_TOKEN }}
          VERCEL_TERRAFORM_TESTING_TEAM: "team_Xd4Fk1OZ0Z1eAvo7nXv3HF5B"
        run: |
          go test -v -cover ./...
